:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;

}

root {

    /**
     * Colors 
     */

    --live-indicator-shadow: hsla(0, 79%, 63%, 0.5);
    --rich-black-fogra-30: hsla(0, 81%, 54%, 0.733);
    --rich-black-fogra-29: hsl(222, 25%, 10%);
    --live-indicator: hsl(0, 79%, 63%);
    --oxford-blue-50: hsla(218, 39%, 14%, 0.8);
    --oxford-blue: hsl(0, 80%, 23%);
    --light-azure: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 88%);
    --yellow: hsl(45, 100%, 54%);
    --white: hsl(0, 0%, 100%);
    --azure: hsl(0, 76%, 47%);

    /**
     * Typography 
     */

    --ff-inter: "Inter", sans-serif;

    --section-heading: 40px;
    --fs-lg: 22px;
    --fs-md: 17px;
    --fs-sm: 14px;
    --fs-x-sm: 12px;

    --fw-7: 700;
    --fw-6: 600;
    --fw-5: 500;

    /**
     * Spacing 
     */

    --px: 120px;
    /* padding-left & padding-right */

}




html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.img-fluidlogo {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;

}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);

}

.logo {
    font-weight: 900;
    font-size: 2rem;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.nav-menu li {
    margin-left: 30px;

}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover {
    color: unset;
}

.btn {
    color: #ffffff;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;

}

.hamburger-menu {
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 30px;
    height: 3px;
    border-radius: .5rem;
    background-color: var(--text-color);
    transition: .4s;
}


.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.link-item:hover {
    color: var(--main-color);

}

footer {
    background: var(--rich-black-fogra-30);
    padding: 80px var(--px) 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--oxford-blue-50);
    padding-bottom: 80px;
}

.footer-brand {
    max-width: 250px;
    margin-right: 130px;
}

.footer-logo {
    width: 100px;
    margin-bottom: 30px;
}

.slogan {
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-bottom: 20px;
}

.social-link a {
    display: inline-block;
}

.social-link ion-icon {
    font-size: 25px;
    margin-right: 20px;
}

.footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: flex-end;
}

.link-heading {
    margin-bottom: 20px;
}

.link-item {
    font-size: var(--fs-sm);
}

ul .link-item:not(:last-child) {
    margin-bottom: 10px;
}

.link-item:hover a {
    color: var(--light-azure);
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.footer-copyright p,
.wrapper a {
    font-size: var(--fs-sm);
}

.wrapper a:hover {
    color: var(--light-azure);
}

.wrapper {
    display: flex;
}

.wrapper a:not(:last-child) {
    margin-right: 30px;
}


/* RESPONSIVE */
@media only screen and (max-width:120px) {
    html {
        font-size: 14px;

    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }

}

@media only screen and (max-width:850px) {
    html {
        font-size: 12px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }



    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }
}








.mennaa {
    font-family: sans-serif;
    margin: 0;
    background: black;
    color: white
  }
  
  
  
  
  
  
  
  
  
  .about-section {
    height: 250px;
    padding: 50px;
    text-align: center;
    background-color:  #c0392b;
    color: white;
  }
  
  
    
    
  
  
  
  .title{
    color: gray;
  }
  
  .button {
    border: 1px solid  #c0392b;
    border-radius: 15px;
    padding: 8px;
    color: white;
    background-color: black;
    width: 100px;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  
    
    h2
    {
      color:  white;
      text-align: center;
    }
    .flip-box {
    width: 300px;
    height: 200px;
    display: inline-block;
    padding: 100px;
    
  }
  
  .flip-box-inner {   
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
  }
  
  .flip-box-front{
    background-color:  #c0392b;
    color: black;
  }
  
  .flip-box-back {
    background-color: #1E1E1E;
    color: white;
    transform: rotateX(180deg);
  }
  

  
    .login-page{
        width: 297px;
        padding: 10% 0 0;
        margin: auto;
        border-radius: 10px;
    }
    .form{
        position: relative;
        z-index: 1;
        background-color: #c0392b;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 50px;
        text-align: center;
        border-radius: 10px;
    }
    .form input{ 
        font-family: "Roboto",sans-serif;
        outline: 1;
        background:rgba(0,0,0,0.3);
        width: 210px;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border-radius: 5px;
        color: blanchedalmond;
    }
    .form button{
        font-family: "Roboto",sans-serif;
        outline: 0;
        background: grey;
        text-transform: uppercase;
        color:ghostwhite;
        width: 100px;
        border: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px; 
        cursor: pointer;
        border-radius: 5px;
    }
    .form button:hover,form button:active{
        background: #43A047;
    }
    .form .message{
        margin: 15px 0 0;
        color: antiquewhite;
        font-size: 12px;
    }
    .form .message a{
        color: royalblue;
        text-decoration: none;
    }
    .form .register-form{
        display: none;
    }
    h2{
        color: beige;
    }
    .alert{
        color: aliceblue;
    }