:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
    --nav-height: 60px;
    --space-top: 30px;

}

root {

    /**
     * Colors 
     */

    --live-indicator-shadow: hsla(0, 79%, 63%, 0.5);
    --rich-black-fogra-30: hsla(0, 81%, 54%, 0.733);
    --rich-black-fogra-29: hsl(222, 25%, 10%);
    --live-indicator: hsl(0, 79%, 63%);
    --oxford-blue-50: hsla(218, 39%, 14%, 0.8);
    --oxford-blue: hsl(0, 80%, 23%);
    --light-azure: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 88%);
    --yellow: hsl(45, 100%, 54%);
    --white: hsl(0, 0%, 100%);
    --azure: hsl(0, 76%, 47%);

    /**
     * Typography 
     */

    --ff-inter: "Inter", sans-serif;

    --section-heading: 40px;
    --fs-lg: 22px;
    --fs-md: 17px;
    --fs-sm: 14px;
    --fs-x-sm: 12px;

    --fw-7: 700;
    --fw-6: 600;
    --fw-5: 500;

    /**
     * Spacing 
     */

    --px: 120px;
    /* padding-left & padding-right */

}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.img-fluidlogo {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;

}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);

}

.logo {
    font-weight: 900;
    font-size: 2rem;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.nav-menu li {
    margin-left: 30px;

}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover {
    color: unset;
}

.btn {
    color: #ffffff;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;

}

.hamburger-menu {
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 30px;
    height: 3px;
    border-radius: .5rem;
    background-color: var(--text-color);
    transition: .4s;
}


.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.link-item:hover {
    color: var(--main-color);

}

footer {
    background: var(--rich-black-fogra-30);
    padding: 80px var(--px) 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--oxford-blue-50);
    padding-bottom: 80px;
}

.footer-brand {
    max-width: 250px;
    margin-right: 130px;
}

.footer-logo {
    width: 100px;
    margin-bottom: 30px;
}

.slogan {
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-bottom: 20px;
}

.social-link a {
    display: inline-block;
}

.social-link ion-icon {
    font-size: 25px;
    margin-right: 20px;
}

.footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: flex-end;
}

.link-heading {
    margin-bottom: 20px;
}

.link-item {
    font-size: var(--fs-sm);
}

ul .link-item:not(:last-child) {
    margin-bottom: 10px;
}

.link-item:hover a {
    color: var(--light-azure);
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.footer-copyright p,
.wrapper a {
    font-size: var(--fs-sm);
}

.wrapper a:hover {
    color: var(--light-azure);
}

.wrapper {
    display: flex;
}

.wrapper a:not(:last-child) {
    margin-right: 30px;
}


/* RESPONSIVE */
@media only screen and (max-width:120px) {
    html {
        font-size: 14px;

    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }

}

@media only screen and (max-width:850px) {
    html {
        font-size: 12px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }



    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }
    /* movies-section */
}
.movies-header{
    width: 100%;
    text-transform: uppercase;
    background-color: #c0392b;
    color: #ffffff;
    text-align: center;
}
.movies-box{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.movies-img{
    width: 100%;
    height: 100%;
    position: relative;
}
.movies-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movies-box a{
    text-align: center;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #c0392b;
    margin: 20px;
}
.movies-box:hover{
    transform: translatey(-15px);
    transition: all ease 0 2s;
}
#movies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quality{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: #ffffff;
    padding-left: 5px 20px;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
}
/* .movies-silder */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  background: #c0392b;
}

.product-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 4vw;
  height: 20%;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
  background: transparent;
}

.nxt-btn {
  right: 0;
  background: transparent;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* category-down-slider */

.category-header{
    padding: 0 10px;
    margin-bottom: 40px;
    background: #c0392b;
}
.movies-category{
    position: relative;
    padding: 12px 32px;
}
.select-box{
    display: flex;
    width: 400px;
    flex-direction: column;
    position: relative;
}
.select-box .options-container {
    background: #fff;
    color: #000000;
    width: 100%;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    order: 1;
}
.selected{
    background: #414b57;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #c0392b;
    position: relative;
    order: 0;
    height: 60px;
}
.selected::after{
    content: "";
    background: url("free-arrow-down-icon-3101-thumb.png");
    background-size: contain;
    background-repeat:no-repeat ;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 18px;
    top: 12px;
    transition: all 0.4s;
}
.select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    overflow: scroll;
}
.select-box .options-container.active + .selected::after{
    transform: rotateX(180deg);
    top: -12px;
}
.select-box .option , .selected{
    padding: 12px 24px;
    cursor: pointer;
}
.select-box .option:hover{
    background: #414b57;
}
.select-box label{
    cursor: pointer;
}
.select-box .option .radio{
    display: none;
}
/* search-bar */
.search-bar{ 
    position: absolute;
    top: 40%;
    left: 1300px;
    transform: translate(-50%,-50%);
    background: #c0392b;
    height: 60px;
    border-radius: 40px;
    padding:10px ;
    display: flex;
}
.search-click{
    color: #c0392b;
    float: right;
    width: 40px;
    border-radius: 50%;
    background: #414b57;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}
.video-box #myvideo {
    width: 100%;
    aspect-ratio: 16/9;
}
.video-box {
    position: relative;
    width: 82%;
}
.video-container{
    margin: 55px;
}
    /* table */
.content-table {
    border-collapse: collapse;
    margin: 100px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-left: 55px;
  }  
  .content-table thead tr {
    background-color: #980000;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  .content-table th,
  .content-table td {
    padding: 26px 70px;
  }
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #a10101;
  }
  .audio-box{
      margin-left:55px ;
  }
  .song-text{
      display: block;
      text-transform: capitalize;
  }
  

